.AppContainer {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    .cus-div {
        width: 100%;
        position: relative;
    }
    #skew1 {
        background: url('./images/heroBackground.jpg');
        background-size: cover;
        background-position: center center;
        z-index: 10;
        height: 55vh;
    }
    #skew2 {
        background: #c2c2c2;
        z-index: 9;
        height: 40vh;
    }
    #skew3 {
        background: url('./images/shapesBackground.jpg');
        background-size: cover;
        background-position: 0px -500px;
        z-index: 8;
        height: 75vh;
    }
    #skew4 {
        background: #c2c2c2;
        background-size: cover;
        background-position: center center;
        z-index: 7;
        height: 75vh;
    }
    #skew5 {
        background: url('./images/patternsBackground.jpg');
        background-size: cover;
        background-position: center center;
        z-index: 6;
        height: 25vh;
    }
    .cus-div:after {
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        z-index: -1;
        bottom: 0;
        content: '';
    }
    #skew1:after,
    #skew2:after,
    #skew4:after {
        transform-origin: left bottom;
        transform: skewY(3deg);
    }
    #skew3:after {
        transform-origin: right bottom;
        transform: skewY(-3deg);
    }
    .content {
        font-weight: bold;
        text-align: center;
        padding: 100px 50px;
        overflow: hidden;
        display: block;
    }
    .j-logo {
        background: url('./images/j-transparent.png');
        position: absolute;
        top: 10px;
        left: -30px;
        height: 10vh;
        width: 10%;
        background-size: auto;
        background-position: center center;
        background-size: 40px;
        background-repeat: no-repeat;
    }
    .content h2 {
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-family: big john;
        font-size: 50px;
    }
    .content h3 {
        margin: 25px;
        margin-bottom: 40px;
        font-family:'Times New Roman', Times, serif;
        font-size: 35px;
    }
    a.project-link {
        background: lightblue;
        border-radius: 50px;
        height: 20px;
        width: 20px;
        padding: 10px 15px;
        color: black;
        font-size: 20px;
    }
    a.project-link:hover {
        background: rgb(153, 191, 204);
    }
}